body {
  font-family: 'Roboto', sans-serif;
  color: black; }

.bg-body-tertiary {
  width: 100%; }

#navbarNavDropdown {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  margin-right: 15%;
  justify-content: right;
  position: relative;
  z-index: 999; }

#navbarNavDropdown.show {
  top: 10px; }

.navbar {
  height: 5rem;
  width: 100%; }

nav {
  font-size: 18px;
  font-weight: bold; }

li.nav-item {
  margin-left: 10px;
  margin-right: 10px; }

.nav-link {
  color: #b19577; }

.nav-link:hover {
  color: #6d6150;
  -webkit-animation: jello-horizontal .9s both;
  animation: jello-horizontal .9s both; }

.icono {
  width: 220px; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

footer {
  background-color: #fafafa;
  color: #b19577;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem; }

.card {
  margin: 1rem;
  flex: 1;
  max-width: calc(33.333% - 2rem); }

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column; }
  .card {
    max-width: none;
    margin: 0.5rem 0; } }

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; } }

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; } }

.card {
  -webkit-animation: scale-in-hor-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #52451a;
  font-family: "roboto";
  -webkit-animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

.img-agenda {
  margin-bottom: 3rem;
  text-align: center;
  margin: auto; }

.mes {
  text-align: center;
  margin-top: 3rem;
  -webkit-animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.card-title {
  margin-top: 1rem; }

.div.col-md-4 {
  margin: auto; }

.row.g-12 {
  margin-bottom: 3rem; }

.tarjeta.mb-1 {
  margin-left: 15%;
  margin-right: 15%; }

.linea-horizontal {
  margin-top: 2rem;
  width: 100%;
  height: 3px;
  background-color: #dac0a5; }

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

.cuadro-texto {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem; }

.cuadro-texto2 {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem; }

.img-bio {
  text-align: center;
  margin-right: 3rem;
  margin-top: 3rem;
  max-width: 100%;
  -webkit-animation: slide-in-bck-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.bio {
  text-align: center; }

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.btn-submit {
  color: aliceblue;
  background-color: #b19577; }

.btn-submit:hover {
  background-color: #f0e2a7;
  color: #b19577; }

.contenedor-boton {
  text-align: center; }

.btn-primary {
  background-color: #b19577;
  border-color: #e7e7e7; }

.btn-primary:hover {
  background-color: #e0cc96;
  border-color: #e0cc96; }

div.col-4 {
  display: block; }

.formulario {
  margin-left: auto;
  margin-right: auto; }

.form-label {
  color: #9e894d;
  font-weight: bold;
  margin-top: 10px; }

.row-form {
  margin-top: 5px; }

.row {
  margin-top: 3rem;
  margin-left: 15%;
  margin-right: 15%; }

.card-disco {
  margin-top: 2rem;
  text-align: center; }

.card-img-top {
  -webkit-animation: slide-in-bck-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
