

body{
    font-family:'Roboto', sans-serif;
    color: black;
}

/* NAVBAR */

#navbarNavDropdown{
    margin-right: 15%;
    justify-content: right;
}

.navbar{
    height: 5rem;
    width: 100%;
}
nav{
    font-size: 18px;
    font-weight: bold;
}

li.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link {
    color: rgb(177, 149, 119);
}
.nav-link:hover {
    color: rgb(109, 97, 80);
}

/* ICONO */

.icono{
    width: 250px;
}
/* FOOTER */
footer{
    background-color: rgb(250, 250, 250);
    color: rgb(177, 149, 119);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* FORMULARIO */
.btn-submit{
    color: aliceblue;
    background-color: rgb(177, 149, 119);
}

.btn-submit:hover{
    background-color: rgb(240, 226, 167);
    color: rgb(177, 149, 119) ;
}


.contenedor-boton{
    text-align: center;
}

.btn-primary{
    background-color:rgb(177, 149, 119) ;
    border-color: rgb(231, 231, 231);
}

.btn-primary:hover{
    background-color: rgb(224, 204, 150);
    border-color: rgb(224, 204, 150);;
}

div.col-4{
    display: block;}

.formulario{
    margin-left: auto;
    margin-right: auto;
}

.form-label{
    color: rgb(158, 137, 77);
    font-weight: bold;
    margin-top: 10px;
}

/* CARDS */

.cards{
    display: flex;
    margin-bottom: 5rem;
}

.card{
    margin: 1rem;
}
