

body{
    font-family:'Roboto', sans-serif;
    color: black;
}
.bg-body-tertiary{
    width: 100%;
}

#navbarNavDropdown{
    margin-right: 15%;
    justify-content: right;
}

.navbar{
    height: 5rem;
    width: 100%;
}
nav{
    font-size: 18px;
    font-weight: bold;
}

li.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link {
    color: rgb(177, 149, 119);
}
.nav-link:hover {
    color: rgb(109, 97, 80);
}

.icono{
    width: 250px;
}

footer{
    background-color: rgb(250, 250, 250);
    color: rgb(177, 149, 119);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


.row{
    margin-top: 3rem;
    margin-left: 15%;
    margin-right: 15%;
}

.card{
    margin-top: 2rem;
    text-align: center;
}



.cuadro-texto{
    width: 1200px;
    margin-top: 3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    
    }


.cuadro-texto2{
    width: 1200px;
    margin-top: 3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}



.bio{
    text-align: center;
}
.img-bio{
    width: 1200px;
}

.img-agenda{
    margin-bottom: 3rem;
    text-align: center;
    margin: auto
}



.mes{
    text-align: center;
    margin-top: 3rem;
}

.card-title{
    margin-top: 1rem;
}

.div.col-md-4{
    
    margin: auto
}

.row.g-12{
    margin-bottom: 3rem;
}

.card.mb-1{
    margin-left: 15%;
    margin-right: 15%;    
}

.linea-horizontal{
    margin-top: 2rem;
    width: 100%;
    height: 3px;
    background-color:  rgb(218, 192, 165);
}
    