
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
    font-family: "roboto";
}


h1 { 
    color: rgb(70, 10, 10);
    background-color: rgb(199, 139, 61);
    font-size: 40px;
    text-align: center;
}

.foto_portada{
    text-align: center;
}

.navegable{
    text-align: center;
    }

a{
    text-align: center;
    text-decoration: none;
    color: rgba(110, 20, 20, 0.671);
    font-size: 1.5rem;
}


.carrousel{
    text-align: center;
}

.ubicaciones{
    text-align: center;
}

.cds{
    text-align: center;
    width: 500px;
}
p { 
    color: rgb(51, 33, 3);
    font-family: "roboto";
    text-align: center;
}




img {
    width: 70%;
}

h3 { 
    color: rgb(34, 26, 5);
    font-family: "roboto";
    text-align: center;
}
