.cuadro-texto{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}
.cuadro-texto2{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}
.img-bio {
    max-width: 100%; /* Asegura que el ancho máximo no sea mayor que el ancho del contenedor padre */
    text-align: center;
    margin-right: 3rem;
    margin-top: 3rem;  
}


.bio{
    text-align: center;
}

  