.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  
  .card {
    margin: 1rem;
    flex: 1; 
    max-width: calc(33.333% - 2rem);
  }
  
  @media screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
  
    .card {
      max-width: none;
      margin: 0.5rem 0;
    }
  }

  @-webkit-keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}@keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}
  .card{-webkit-animation:scale-in-hor-center .20s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-center .5s cubic-bezier(.25,.46,.45,.94) both}

  h1{
    text-align: center;
    margin-top: 2rem;
    color: rgb(82, 69, 26);
    font-family: "roboto";
    -webkit-animation:tracking-in-contract 3s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract 3s cubic-bezier(.215,.61,.355,1.000) both
  }

  @-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}

  
  